build
examples/__pycache__
examples/AngularDistribution/data
examples/Bremsstrahlung/data
examples/Green/data
examples/Image/data
examples/Orbits/data
examples/Zhou2014/Fig5/data
examples/Zhou2014/Fig5/figures
examples/Zhou2014/Fig5/topviews
examples/Zhou2014/Fig6/data
examples/Zhou2014/Fig6/figures
examples/Zhou2014/Fig6/topviews
examples/Zhou2014/Fig7/data
examples/Zhou2014/Fig7/figures
examples/Zhou2014/Fig7/topviews
include/config.h
gmon.out
tests/broad/cone/*.mat
tests/broad/cone/reverse/*.mat
tests/broad/fogc/*.mat
tests/broad/isotropic/*.mat
__pychache__
.gdb_history
.vscode
tests/broad/__pycache__
tests/broad/distribution/__pycache__
tests/broad/green/12ij/*.h5
tests/broad/green/total/*.mat
tests/broad/mpi/green/*.mat
tests/broad/mpi/most/*.mat
tests/broad/mpi/sovvolume/*.mat
tests/broad/polarization/*.mat
