build
examples/__pycache__
examples/*/data
examples/Zhou2014/*/data
examples/Zhou2014/*/figures
examples/Zhou2014/*/topviews
include/config.h
gmon.out
tests/broad/cone/*.mat
tests/broad/cone/reverse/*.mat
tests/broad/fogc/*.mat
tests/broad/isotropic/*.mat
__pychache__
.gdb_history
.vscode
tests/broad/__pycache__
tests/broad/12w/*.mat
tests/broad/distribution/__pycache__
tests/broad/green/12ij/*.h5
tests/broad/green/total/*.mat
tests/broad/mpi/green/*.mat
tests/broad/mpi/most/*.mat
tests/broad/mpi/sovvolume/*.mat
tests/broad/polarization/*.mat
