
div.floatblock::after {
    clear: both;
    display: table;
    content: " ";
}
div.leftside {
    width: 200px;
    padding: 0px 3px 0px 0px;
    float: left;
}
div.rightside {
    height: 200px;
    margin-left: 215px;
}
